#musicians-shop-body {
    background: #fff;
}

@media (prefers-color-scheme: dark) {
  #musicians-shop-body {
    background: #111111;
  }
}

@media (prefers-color-scheme: light) {
  #musicians-shop-body {
    background: #fff;
  }
}

#musicians-shop-web-preview {
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   width: 70%;
   height: auto;
   margin: auto;
   max-width: 400px;
   position: absolute;
}

.flutter-loader {
   display: none;
}
