<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>670066810894-evt71gs7j4q4rjnqmcrsir42bjdk0ktp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.670066810894-evt71gs7j4q4rjnqmcrsir42bjdk0ktp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>670066810894-12ur49v29vt91dmluo7lp0s70tem98iu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBt_sLvEo7xMr0xfC9qgKNuN3m0CKACDm4</string>
	<key>GCM_SENDER_ID</key>
	<string>670066810894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.musiciansShop</string>
	<key>PROJECT_ID</key>
	<string>g-shop-4fe02</string>
	<key>STORAGE_BUCKET</key>
	<string>g-shop-4fe02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:670066810894:ios:c49cc74c8d0301041fdc5f</string>
</dict>
</plist>